/* banner page area  */
.banner-page{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    background-color: #2d25a0;
    padding-bottom: 15px ;
}
.banner-page img{
    height:500px;
    width: 400px;
    padding-top:70px;
    padding-right: 150px;
    padding-bottom: 80px;
    
}

.banner-title{
    padding-left:150px;
    padding-top: 120px;
    padding-bottom: 200px;
    padding-top: 200px;
    color: white;
}
.banner-title h1{
    font-size:64px;
}
.arrow-icon{
    text-decoration: none;
    color: white;
    background-color: rgba(216, 66, 66, 0.932);
   padding: 10px 24px 10px 24px;
    height:70px;
    width: 170px;
  animation: slideIn 1.5s ease-in-out forwards;
    
}
.banner-hover:hover{
    transform: scale(1.25);
     transition: transform 1s ease-out .3s;
}
/* main section area  */
.container{
    padding-left: 120px;
    padding-right:120px;
    padding-bottom: 100px ;
    background-color: #fff;
}
.top-players{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    padding-bottom: 500px;
}
.player{
margin: 10px;
padding: 15px;
box-shadow: 5px 5px 5px 5px whitesmoke;
}
.player img{
    height: 260px;
    width: 300px;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
/* highlights area  */
.highlights-bottom-section{
    display: grid;
    grid-template-columns:repeat(2,1fr);
}
.highlights-bottom-section img{
    height:410px;
    width:560px ;
 
}
.resize{
    font-size: 18px;
    height: 450px;
    width: 300px;
    padding-top: 60px ;
}
.football-arena{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}
.image-distance{
    padding:5px 25px 30px;
    height: 300px;
    width: 500px;
}

/* footer section  */
.footer-allign{
    text-align: center;
    padding-bottom:20px;
}
.footer-allign img{
    height: 110px;
    width: 450px;
}
.fab{
    padding-right:5px;
    padding-left:8px;
}
.copyright-sign-padding{
    padding-top: 30px;
    padding-bottom: 5px;
}
.social{
    padding-bottom: 10px;
}

/* mobile responsive */
@media only screen and (max-width:688px) {
    .banner-page, .highlights-bottom-section,.top-players,.football-arena {
        display: inline-block;
        grid-template-columns:repeat(1,1fr);
    } 
    .match-image img{
        width: 100%;
        padding-right:50px ;
        
    }
    .image-distance{
        width: 100%;
        padding-right: 220px;
    }
    .top-players{
      padding-bottom: 25px;  
    }
    .social{
        width: 100%;
        padding-left: 220px;
        padding-bottom:20px;
      
    }
    small{
        width: 100%;
        float: left;
        padding-left: 225px;
        
    }
    .footer-allign{
        padding-bottom: 150px;
    }
    
}




